<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
   
    <div class="page-content">
      <div class="wrapper">
        <h2> Latest Interviews and Talks </h2>
	              <iframe src="https://player.vimeo.com/video/315596742" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	

        <iframe width="640" height="360"
	src="https://www.youtube.com/embed/qiRS5Hydmjk" 
	frameborder="0" 
	allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
	allowfullscreen></iframe>
	
	      <br>
	      	      <br>

	    
        <h2> Latest News </h2> 
<div id="medium-widget"></div>
    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
    <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@souzatharsis","postsPerLine":2,"limit":4,"picture":"big","fields":["description","author","publishAt"],"ratio":"landscape"}})</script>    
  <h2 align="center"> <a href="https://medium.com/@souzatharsis">View All</a>
 </h2>
       
      </div>
    </div>
    
     {% include footer.html %}
    
  </body>

</html>
