<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
   
    <div class="page-content">
      <div class="wrapper">
        <h2> Selected Interviews and Talks </h2>
	      
	      <h3> Mentorship Spotlight: Tharsis Souza, Two Sigma </h3>
	      <a href="https://www.correlation-one.com/blog/mentorship-spotlight-tharsis-souza-two-sigma">
<img border="0" alt="Mentorship Spotlight" src="../fig/CaptureX.PNG" width="640" height="360">
</a> <br>
	      	      <br>
	      
	      <h3> FactSet Investment Process Symposium - Innovative Data Panel </h3>
	      <a href="https://advantage.factset.com/innovative-data-panel-thank-you?utm_campaign=CTS&utm_source=hs_automation&utm_medium=email&utm_content=70214778&_hsenc=p2ANqtz--hff3dOyAa82p2lgY4jhud8nB6i4A8zi6UNsSQpKFFiTZoGDBDT5eFktRIDLGSPYqo6hTXcT5D0zIuGUXO7ebBYbDNyA&_hsmi=70214778">
<img border="0" alt="Factset Symposyum" src="../fig/factset.png" width="640" height="360">
</a> <br>
	      	      <br>
	      
	      <h3> BattleFin Alternative Data - Interview </h3>
	              <iframe src="https://player.vimeo.com/video/315596742" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
 <br>
	      	      <br>
	      	      <h3> Beryl Elites - The Disruptors in Investment Management </h3>

        <iframe width="640" height="360"
	src="https://www.youtube.com/embed/qiRS5Hydmjk" 
	frameborder="0" 
	allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
	allowfullscreen></iframe>
	      
	      
	      
	      
	   
	
	      <br>
	      	      <br>
	      <br>
	      	      <br>
       
      </div>
    </div>
    
     {% include footer.html %}
    
  </body>

</html>
