---
layout: default
---

<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
    
 <article class="post-content">


<h4 style="margin-bottom:0px;padding-top:10px;Bold"><span style="font-weight:bold">Papers and Book Chapters</span></h4>
<ol class="biblist">
<br>


<li ><p>
Thársis T. P. Souza, <a href="https://www.mgmt.ucl.ac.uk/people/soongkang" target="_blank">Soong Moon Kang</a> and <a href="http://www.cs.ucl.ac.uk/staff/tomaso_aste/" target="_blank">T. Aste</a>
<br><span style="font-weight:bold">To be relieved</span></br>
<i>Planned: end of 2016</i>
</li>
	 
<li ><p>
Thársis T. P. Souza, <a href="https://www.mgmt.ucl.ac.uk/people/soongkang" target="_blank">Soong Moon Kang</a>, Tiziana Di Matteo  and <a href="http://www.cs.ucl.ac.uk/staff/tomaso_aste/" target="_blank">T. Aste</a>
<br><span style="font-weight:bold">Market Stress and Assortativity in Financial Networks</span></br>
<i>Under Submission</i>, 2016.
</li>


<li ><p>
Jonathan Manfield, Derek Lukacsko and Thársis T. P. Souza
<br><span style="font-weight:bold">Bull Bear Balance: A Cluster Analysis of Socially Informed Financial Volatility</span></br>
<i>Under Submission</i>, 2016.
</li>	 
	 
<li ><p>
Leno Rocha, Frederico Rocha and Thársis T. P. Souza
<br><span style="font-weight:bold">Is the public sector of your country a diffusion borrower? Empirical evidence from Brazil</span></br>
<i>Under Submission</i>, 2016. e-print: arxiv.org/abs/1604.07782
<br>
<a href="javascript:toggleBibtex('Rocha2016')">[BibTeX]</a>
<a href="http://arxiv.org/pdf/1604.07782">[PDF]</a>
<div id="bib_Rocha2016" class="bibtex noshow">
<pre>
@misc{2016arXiv1604.07782,
   author = {Leno S. Rocha, Frederico S. A. Rocha and Thársis T. P. Souza},
    title = {Is the public sector of your country a diffusion borrower? Empirical evidence from Brazil},
  journal = {ArXiv e-prints},
archivePrefix = "arXiv",
   eprint = {1604.07782},
     year = 2016,
Howpublished  = {arXiv preprint. http://arxiv.org/abs/1604.07782}
}
</pre>
</div>
</li>

<li ><p>
Thársis T. P. Souza and <a href="http://www.cs.ucl.ac.uk/staff/tomaso_aste/" target="_blank">T. Aste</a>
<br><span style="font-weight:bold">A nonlinear impact: evidences of causal effects of social media on market
prices.</span></br>
<i>Under Submission</i>, 2016. e-print: http://arxiv.org/abs/1601.04535 <br>
<a href="javascript:toggleBibtex('Souza2016')">[BibTeX]</a>
<a href="http://arxiv.org/pdf/1601.04535">[PDF]</a>
<div id="bib_Souza2016" class="bibtex noshow">
<pre>
@misc{2016arXiv160104535S,
   author = {Thársis T. P. Souza and T. Aste},
    title = {A nonlinear impact: evidences of causal effects of social media on market prices},
  journal = {ArXiv e-prints},
archivePrefix = "arXiv",
   eprint = {1601.04535},
 primaryClass = "q-fin.ST",
     year = 2016,
    month = jan,
Howpublished  = {arXiv preprint. http://arxiv.org/abs/1601.04535}
}
</pre>
</div>

</li>      

<li ><p>
O. Kolchyna and Thársis T. P. Souza and <a href="http://www0.cs.ucl.ac.uk/people/P.Treleaven.html" target="_blank">Philip C. Trealaven</a> and <a href="http://www.cs.ucl.ac.uk/staff/tomaso_aste/" target="_blank">T. Aste</a>
<br><span style="font-weight:bold">A Framework for Twitter Events Detection, Differentiation and its Application for
Retail Brands.</span></br>
(In Press) IEEE Proceedings of Future Technologies Conference 2016. San Francisco, United States. e-print: arxiv.org/abs/1508.03981
<br>
<a href="javascript:toggleBibtex('Olga2016')">[BibTeX]</a>
<a href="http://arxiv.org/pdf/1508.03981">[PDF]</a>
<div id="bib_Olga2016" class="bibtex noshow">
<pre>
@misc{2016arXiv150803981,
   author = {Olga Kolchyna and Thársis T. P. Souza and Philip Treleaven and Tomaso Aste},
    title = {Identifying Kinds of Twitter Sentiment Events that Predict Spikes in Sales},
  journal = {ArXiv e-prints},
archivePrefix = "arXiv",
   eprint = {1508.03981},
     year = 2015,
Howpublished  = {arXiv preprint. http://arxiv.org/abs/1508.03981}
}
</pre>
</div>
</li> 


<li ><p>
Thársis T. P. Souza and Olga Kolchyna and <a href="http://www0.cs.ucl.ac.uk/people/P.Treleaven.html" target="_blank">Philip C. Trealaven</a> and <a href="http://www.cs.ucl.ac.uk/staff/tomaso_aste/" target="_blank">T. Aste</a>
<br><span style="font-weight:bold">Twitter Sentiment Analysis Applied to Finance: A Case Study in the Retail Industry.</span></br>
<i>In: Handbook of Sentiment Analysis in Finance. Mitra, G. and Yu, X. (Eds.). (2016). ISBN
1910571571.</i>, 2016. e-print: arxiv.org/abs/1507.00784
<br>  
<a href="javascript:toggleBibtex('Souza2015')">[BibTeX]</a>
<a href="http://arxiv.org/pdf/1507.00784">[PDF]</a>
<div id="bib_Souza2015" class="bibtex noshow">
<pre>
@misc{2016arXiv1507.00784,
   author = {Thársis T. P. Souza and Olga Kolchyna and Philip Treleaven and Tomaso Aste},
    title = {Twitter Sentiment Analysis Applied to Finance: A Case Study in the Retail Industry},
  journal = {Handbook of Sentiment Analysis in Finance},
archivePrefix = "arXiv",
   eprint = {1507.00784},
     year = 2016,
Howpublished  = {arXiv preprint. http://arxiv.org/abs/1507.00784}
}
</pre>
</div>
</li>    
    
<li ><p>
O. Kolchyna and Thársis T. P. Souza and <a href="http://www0.cs.ucl.ac.uk/people/P.Treleaven.html" target="_blank">Philip C. Trealaven</a> and <a href="http://www.cs.ucl.ac.uk/staff/tomaso_aste/" target="_blank">T. Aste</a>
<br><span style="font-weight:bold">Twitter Sentiment Analysis: Lexicon Method, Machine Learning Method and Their Combination.</span></br>
<i>In: Handbook of Sentiment Analysis in Finance. Mitra, G. and Yu, X. (Eds.). (2016). ISBN
1910571571.</i>, 2016. e-print: arxiv.org/abs/1507.00955
<br>
<a href="javascript:toggleBibtex('Olga2015')">[BibTeX]</a>
<a href="http://arxiv.org/pdf/1507.00955">[PDF]</a>
<div id="bib_Olga2015" class="bibtex noshow">
<pre>
@misc{2016arXiv1507.00955,
   author = {Olga Kolchyna and Thársis T. P. Souza and Philip Treleaven and Tomaso Aste},
    title = {Twitter Sentiment Analysis: Lexicon Method, Machine Learning Method and Their Combination},
  journal = {Handbook of Sentiment Analysis in Finance},
archivePrefix = "arXiv",
   eprint = {1507.00955},
     year = 2016,
Howpublished  = {arXiv preprint. http://arxiv.org/abs/1507.00955}
}
</pre>
</div>
</li>   
</ol  >




<h4 style="margin-bottom:0px;padding-top:10px"><span style="font-weight:bold">Posters, Abstracts and Talks</span></h4>
<ol class="biblist">
<br>  
<li ><p>
Talk: 9th International Conference on Computational and Financial Econometrics (CFE 2015). Senate House, University of London, UK, 12-14 December 2015.
</li>   

<li ><p>
Talk: Big Data Finance and the Emergence of a New Kind of Data: Online proxies of human behaviour.  EARL16 Conference - Effective Applications of the R Language. London, UK, 13th-15th September 2016.
</li>   

<li ><p>
Poster: International Conference on Computational Social Science. University of Aalto, Helsinki, Finland. June 2015. 
</li>

<li ><p>
Talk: Data Natives. University City London, London, UK. May, 2015.
</li>

<li ><p>
Talk: Workshop in Behavioural Finance: Foundations & Recent Developments, 13. 2015.
</li>

<li ><p>
Abstract: Acceleration of Market Risk Estimation. In: XXXIV Ibero-Latin American Congress on Computational Methods in Engineering - CILAMCE2013, 2013.
</li>

</ol  >



<h4 style="margin-bottom:0px;padding-top:10px"><span style="font-weight:bold">Dissertation Supervision</span></h4>
<ol class="biblist">
<br>  
<li ><p>
Jiang Liu. STRUCTURE OF THE OPERATIONAL RISK CAPITAL MODEL OF MARKET MANIPULATION SCENARIO UNDER THE FCA. 2015. Masters Dissertation in Financial Risk Management - University College London.
</li>  

<li ><p>
Jinru Li. CORPORATE AND BANK HEDGING STRATEGIES FOR USDCNH FOREIGN EXCHANGE RISK EXPOSURES. 2015. Masters Dissertation in Financial Risk Management - University College London.
</li>   

<li ><p>
Chen Wang. A QUALITATIVE RESEARCH ON CORRELATIONS BETWEEN MACROENVIRONMENT FACTORS AND CURRENCY VALUE OF AUSTRALIAN DOLLARS. 2015. Masters Dissertation in Financial Risk Management - University College London.
</li>  

<li ><p>
Vasile Coreni. ANALYSING THE CO-MOVEMENTS OF FINANCIAL NEWS AND STOCK MARKETS. 2015. Masters Dissertation in Financial Risk Management - University College London.
</li>  

</ol  >

<h4 style="margin-bottom:0px;padding-top:10px"><span style="font-weight:bold">Misc</span></h4>
<br>
<ul class="biblist">
<li ><p>
Reviewer for The Journal of Network Theory in Finance
</li>	
<li ><p>
<a href="www.plosone.org" target="_blank">PLoS ONE</a> ad hoc reviewer
</li>
<li ><p>
Ad hoc reviewer of the Handbook of Sentiment Analysis in Finance. Mitra, G. and Yu, X. (Eds.). (2016). ISBN 1910571571.
</li>  
</ul  >
   
 </article>

</div>
